body {
  margin: 2vw;
  /* The background color and font are the same as discords */
  color: white;
  background-color: #35383d;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.gridwrapper {
  display: grid;
  grid-template-columns: repeat(7, 12vw);
  grid-template-rows: 12vw;
  grid-gap: 2vw;
  background-color: #35383d;
  color: #0000FF;
}

.thumb {
  text-align: center;
  height: 11vw;
  width: 11vw;
  overflow: hidden;
  background-size: cover;
  border-radius: 1vw;
  transition: opacity .1s, border .05s, filter .1s;
  cursor: pointer;
  border: 1vw solid transparent;
}

.thumb:active {
   opacity: 0.4;
   filter: grayscale(60%);
   border: 1vw solid green;
}


/* This barContainer stuff can go when we get rid of the loading bar */
#barContainer {
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}

#barContainer>div {
  background-color: #7785D8;
  width: 40%;
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 10px;
}